.body{
    background-color: #d8d3f4de;
}

header{
    height: 55vh;
    width: 98vw;
    border-radius: 2em;
    margin: 0px auto;
    border: 1px solid black;
    overflow: hidden;
}

.categorisBox {
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
}
 
.categorisBox a {
    text-decoration: none;
    color: #000;
}
 
.categorisContent {
    padding: 20px 20px;
}
 
.categorisContent img {
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid rgb(54, 16, 244);
}
.uselusel-item  img{
 height: 100%;
 width: 70%;
  }
 
.categorisContent h4 {
    margin-top: 15px;
    font-size: 18px;
}
 
.productBox {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 5px;
}
 
 
 
.productImg {
    height: 200px;
    width: 90%;
}
 
 
.productContent img {
 
    width: 100%;
    height: 100%;
    object-fit: contain;
 
}
 
.productContent h4 {
    font-size: 16px;
    margin-top: 20px;
 
}
 
.productLink {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}

.d-block{
    height: 100%;
}

.carousel{
    height: 100%;
}
.carousel-inner img{
    height: 55vh;
}